.navbar {
  background: linear-gradient(to right, #d00000, #9d0208);
  box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}


.navbar-brand {
  color:#9d0208;
  font-weight: bold;

}

.navabr-nav .nav-link {
  color:#fff;
  text-decoration: none;
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
color: black;
background-color: rgba(255,255,255,0.2);
}

.navbar-toggler-icon {
  background-color: #d90429; 
}



body {
    font-family: Arial, sans-serif;
    background-color:black;
    margin: 30;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    max-width: 100px;
    margin: 50%;
    padding: 20px;
    background-color:black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(3, 1, 1, 0.1);
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  label {
  font-weight: bold;
  color: #fff;
  }


  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
   outline: none;
   border-color: red;
  };

  textarea {
    height: 150px;
  }

  input[type="submit"] {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: red;
  }

  input[type="submit"]:focus {
    outline: none;
  }